---
import "../styles/global.css";
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<!-- displays site properly based on user's device -->

		<link
			rel="icon"
			type="image/svg"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>

		<title>Frontend Mentor | Ping coming soon page</title>

		<!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
		<style>
			.attribution {
				font-size: 11px;
				text-align: center;
			}
			.attribution a {
				color: hsl(228, 45%, 44%);
			}
		</style>
		<script src="https://kit.fontawesome.com/9e32089ac9.js" crossorigin="anonymous"></script>
		
	</head>
	<body>
		<header>
			<div id="logo"><img src="/logo.svg" alt="logo image" /></div>
		</header>
		<section class="inscription">
			<h1><span>We are launching</span> soon !</h1>
			<p class="subscription">Subscribe and get notified</p>
			<div class="boxinput">
				<input class="address" type="email" name="email" id="email" pattern=".+@example\.com" placeholder="Your email address..." size="40" required />
				<button class="notification">Notify Me</button>
			</div>
			<p class="invalidmail">Please provide a valid email address</p>
			<img class="dashboard" src="/illustration-dashboard.png" alt="illustration dashboard"> 
		</section>
		
		<footer>
			<div class="container">
				<div class="social">
					<a href=""><i class="fa-brands fa-facebook-f network"></i></a>
					<a href=""><i class="fa-brands fa-twitter network"></i></a>
					<a href=""><i class="fa-brands fa-instagram network"></i></a>
				</div>
				<div class="rights">&copy; Copyright Ping. All rights reserved.</div>
			</div>
			<p class="attribution">
				Challenge by
				<a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
					>Frontend Mentor</a
				>. Coded by <a href="#">Slideur</a>.
			</p>
		</footer>
		<script>
			import "../scripts/errors";
		</script>
	</body>
</html>

