---
import "../styles/global.css";
---
<style>
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
</style>
<head>
    <script src="https://kit.fontawesome.com/9e32089ac9.js" crossorigin="anonymous"></script>
</head>

<footer>
    <div class="container">
        <div class="social">
            <a href=""><i class="fa-brands fa-facebook-f network"></i></a>
            <a href=""><i class="fa-brands fa-twitter network"></i></a>
            <a href=""><i class="fa-brands fa-instagram network"></i></a>
        </div>
        <div class="rights">&copy; Copyright Ping. All rights reserved.</div>
    </div>
    <p class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
            >Frontend Mentor</a
        >. Coded by <a href="#">Slideur</a>.
    </p>
</footer>