---
import "../styles/global.css";
---

<section class="inscription">
    <h1><span>We are launching</span>soon !</h1>
    <p class="subscription">Subscribe and get notified</p>
    <div class="boxinput">
        <input class="address" type="email" pattern=".+@example\.com" placeholder="Your email address..." size="40" required />
        <button class="notification">Notify Me</button>
    </div>
    <p class="invalidmail">Please provide a valid email address</p>
    <img class="dashboard" src="/illustration-dashboard.png" alt="illustration dashboard"> 
</section>